#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  p {
    font-weight: 200;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500; 
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



  
