@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

body {
  @apply font-montserrat;
}

p {
  @apply font-extralight;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-medium;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 64px;
  height: 64px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
